*{
    color: white;
}

body, html{
    height: 100%;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.nav{
    height: 11vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    gap: 80px;
    position: fixed;
    z-index: 100;
}

.search{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    font-family: 'Chillax', sans-serif;
}

.logo{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > p{
    font-family: "Chillax", "san sarif";
    font-size: 55px;
}

.links{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 35px;
}

.links > a{
    text-decoration: none;
    font-family: 'Chillax', sans-serif;
}

.signIn{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.signIn > a > button{
    height: 40px;
    width: 65px;
    border-radius: 20px;
    border: transparent;
    background-color: white;
    color: black;
    font-family: 'Chillax', sans-serif;
    transition: 0.1s ease-out;
    display: inline-block;
    position: relative;
}

.signIn > a > button:hover{
    background-color: #2196f3;
    color: white;
    transition: 0.1s ease-in;
}


#main{
    height: 100%;
    width: 100%;
    position: relative;
    background: url(./images/universe.jpg);
    background-size: cover;
}

/*Underline animation for links in navbar -------------------------*/

.links > a{
    display: inline-block;
    position: relative;
}

.links > a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.links > a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*-------------------------------------------------------------------*/


/*Page 1 css --------------------------------------------------------*/

.page1{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.page1 > .heading{
    font-family: 'Rubik Doodle Shadow', sans-serif;
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px;
    position: relative;
}

.page1 > .heading > p{
    margin: 10px;
    margin-left: 20px;
    -webkit-text-stroke: 1px;
}


/*Revolving Ball animation---------------------------------------------*/

.revolvingArrow1{
    position: absolute;
    height: 0;
    width: 0;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    

    animation-name: revolvingArrow1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.revolvingArrow2{
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    animation-name: revolvingArrow2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes revolvingArrow1{
    0% {top: 0; left: 0; rotate: 720deg;}
    25% {top: 0; left: 100%; rotate: 45deg;}
    50% {top: 100%; left: 100%; rotate: 120deg;}
    75% {top: 100%; left: 0; rotate: 225deg;}
    100% {top: 0; left: 2px; rotate: 360deg;}
}

@keyframes revolvingArrow2{
    0% {top: 100%; right: 0; rotate: 720deg;} 
    25% {top: 100%; right: 100%; rotate: 45deg;}
    50% {top: 0; right: 100%; rotate: 120deg;}
    75% {top: 0; right: 0; rotate: 225deg;}
    100% {top: 100%; right: 0; rotate: 360deg;}
}
/*--------------------------------------------------------------------*/


/*--------------------------------------------------------------------*/